/* account_move_single_concept (tree) */
.o_account_move_single_concept_view_tree [data-name="extra_field"] {
    width: 10%;
    text-align: center;
}

.o_account_move_single_concept_view_tree [data-name="default"] {
    width: 10%;
    text-align: center;
}
.o_account_move_single_concept_view_tree
  td.o_data_cell[data-name="default"] {
    text-align: center;
}
