[MASTER]
# OCA / pylint-odoo style for moval_timesheet_compliance

[MESSAGES CONTROL]
disable=W0212,R0801,manifest-superfluous-key

[BASIC]
max-line-length=88
good-names=setUp,setUpClass,tearDown,tearDownClass,i,j,k,ex,Run,_,Compliance,Department,Users,Employees,Incident

[FORMAT]
max-line-length=88

[TYPECHECK]
good-names=Compliance,Department,Users,Employees,Incident

[VARIABLES]
good-names=Compliance,Department,Users,Employees,Incident
