/* Styles for hr.role.assignment tree view */
.o_view_hr_role_assignment_tree [data-name="employee_id"] {
    width: 30% !important;
}
.o_view_hr_role_assignment_tree [data-name="role_id"] {
    width: 30% !important;
}
.o_view_hr_role_assignment_tree [data-name="date_start"] {
    width: 20% !important;
    text-align: left;
}
.o_view_hr_role_assignment_tree [data-name="state"] {
    width: 20% !important;
    text-align: left;
}

/* Styles for hr.role tree view */
.o_view_hr_role_tree [data-name="name"] {
    width: 30%;
}
.o_view_hr_role_tree [data-name="department_id"] {
    width: 30%;
}
.o_view_hr_role_tree [data-name="level"] {
    width: 0%;
    text-align: left;
}
.o_view_hr_role_tree [data-name="employee_count"] {
    width: 20%;
    text-align: left;
}
