.o_field_blockly_formula {
    .o_blockly_toolbar {
        margin-bottom: 0.5rem;
    }
    .o_blockly_container,
    .o_blockly_workspace_container {
        width: 100% !important;
        min-width: 720px !important;
        min-height: 360px !important;
        height: 360px !important;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 4px;
        position: relative;
        overflow: visible;
    }
    .blocklyToolboxDiv,
    .blocklyFlyout,
    .blocklyMainBackground,
    .blocklyScrollbarHandle {
        z-index: 10;
    }
    .blocklySvg {
        display: block;
    }
}
