.o_blockly_workspace_container {
    width: 100% !important;
    min-width: 400px;
    min-height: 300px;
    height: 360px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    overflow: visible;

    .blocklyToolboxDiv,
    .blocklyFlyout,
    .blocklyMainBackground,
    .blocklyScrollbarHandle {
        z-index: 10;
    }
    .blocklySvg {
        display: block;
    }
}
