/* account_move_fixed_concept (tree) */
.o_account_move_fixed_concept_view_tree [data-name="extra_field"] {
    width: 10%;
    text-align: center;
}
.o_account_move_fixed_concept_view_tree [data-name="default"] {
    width: 10%;
    text-align: center;
}
