/**/
/* cim.complaint.type */
/**/
.o_cim_complaints_channel_complaint_type_view_tree [data-name="name"] {
    width: 400px;
    min-width: 400px;
}
.o_cim_complaints_channel_complaint_type_view_tree [data-name="is_standard"] {
    text-align: center;
    width: 110px;
    min-width: 110px;
}
.o_cim_complaints_channel_complaint_type_view_tree [data-name="number_of_complaints"] {
    width: 110px;
    min-width: 110px;
}

/**/
/* cim.link.type */
/**/
.o_cim_complaints_channel_link_type_view_tree [data-name="name"] {
    width: 400px;
    min-width: 400px;
}
.o_cim_complaints_channel_link_type_view_tree [data-name="is_standard"] {
    text-align: center;
    width: 110px;
    min-width: 110px;
}
.o_cim_complaints_channel_link_type_view_tree [data-name="number_of_complaints"] {
    width: 110px;
    min-width: 110px;
}

/**/
/* o_cim_complaints_channel_complaint_view_tree */
/**/
.o_cim_complaints_channel_complaint_view_tree [data-name="name"] {
    text-align: center;
    width: 80px;
    min-width: 80px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="complaint_type_id"] {
    width: 230px;
    min-width: 230px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="resolution_date"] {
    text-align: center;
    width: 110px;
    min-width: 110px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="defendant_name"] {
    width: 170px;
    min-width: 170px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="deadline_date"] {
    text-align: center;
    width: 110px;
    min-width: 110px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="investigating_user_id"] {
    width: 140px;
    min-width: 140px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="number_of_attachments"] {
    width: 60px;
    min-width: 60px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="number_of_communications"] {
    width: 80px;
    min-width: 80px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="state"] {
    width: 80px;
    min-width: 80px;
}
.o_cim_complaints_channel_complaint_view_tree [data-name="icon_warning"] {
    width: 40px;
    min-width: 40px;
}
.o_icon_warning img {
    width: 16px;
    height: 16px;
}

/**/
/* o_cim_complaints_channel_complaint_communication_view_tree */
/**/
.o_cim_complaints_channel_complaint_communication_view_tree [data-name="communication_number"] {
    width: 80px;
    min-width: 80px;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-name="communication_date"] {
    width: 130px;
    min-width: 130px;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-name="processor_user_id"] {
    width: 220px;
    min-width: 220px;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-name="number_of_attachments"] {
    width: 60px;
    min-width: 60px;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-name="state"] {
    width: 100px;
    min-width: 100px;
}
.o_cim_complaints_channel_complaint_communication_view_tree [data-name="icon_inputoutput"] {
    width: 40px;
    min-width: 40px;
}
.o_icon_inputoutput img {
    width: 16px;
    height: 16px;
}

/**/
/* Custom classes */
/**/

.blink_text {
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
    animation-iteration-count: 10;
    color: red;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}