/**/
/* eom.digitalregister */
/**/
.o_eom_authdnie_digitalregister_view_tree [data-id="name"] {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="name"] {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="last_event_time"] {
    min-width: 135px;
    width: 135px;
    max-width: 135px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="last_event_time"] {
    min-width: 135px;
    width: 135px;
    max-width: 135px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="number_of_accesses"] {
    min-width: 100px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="number_of_accesses"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="number_of_requests"] {
    min-width: 100px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="number_of_requests"] {
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-id="icon_with_contact"] {
    min-width: 55px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_view_tree [data-field="icon_with_contact"] {
    text-align: center;
}

/**/
/* eom.digitalregister.access */
/**/
.o_eom_authdnie_digitalregister_access_view_tree [data-id="event_time"] {
    min-width: 180px;
    width: 180px;
    max-width: 180px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-field="event_time"] {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-id="digitalregister_id"] {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    text-align: center;

}
.o_eom_authdnie_digitalregister_access_view_tree [data-field="digitalregister_id"] {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-id="icon_with_userdata"] {
    min-width: 55px;
    width: 55px;
    max-width: 55px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-field="icon_with_userdata"] {
    min-width: 55px;
    width: 55px;
    max-width: 55px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-id="icon_with_contact"] {
    min-width: 55px;
    width: 55px;
    max-width: 55px;
    text-align: center;
}
.o_eom_authdnie_digitalregister_access_view_tree [data-field="icon_with_contact"] {
    min-width: 55px;
    width: 55px;
    max-width: 55px;
    text-align: center;
}