.o_form_view.o_form_nosheet.o_board_grafana_form_view {
    display: block;
    padding: 0px;
}

.o_board_grafana_dashboard_storage_view_tree [data-field="name"] {
    text-align: center;
}

.o_board_grafana_dashboard_storage_view_tree [data-field="dashboard_title"] {
   text-align: center;
}

.o_board_grafana_dashboard_storage_view_tree [data-field="dashboard_uid"] {
    text-align: center;
}

.o_board_grafana_dashboard_storage_view_tree [data-field="dashboard_path"] {
    text-align: center;
}

.o_board_grafana_dashboard_storage_view_tree [data-id="integrated_dashboard"] {
    text-align: center;
    width: 8%;
}

.o_board_grafana_dashboard_storage_view_tree [data-field="integrated_dashboard"] {
    text-align: center;
}
